<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="bg-black text-white">
<div class="flex justify-center items-center h-screen">
    <div class="text-center">
    <h1 class="text-5xl">Welcome to the Junkyard</h1>
    <p class="mt-4 text-lg">Junkyard under demolition</p>
        <p class="mt-4">Check back later for maximum awesomeness!!!</p>
    </div>
</div>
</body>
</html>
