<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="bg-black text-white">
<section class="flex flex-col items-center justify-center text-center py-16 px-4">
    <h1 class="text-5xl font-bold mb-4 tracking-tight">Welcome to Junkyard</h1>
    <p class="text-lg text-gray-600 max-w-xl">
        A small space where I drop the projects, tools, and random scripts I build — finished or not.
        Some useful, some experimental, all part of the process.
    </p>
    <div class="mt-6 text-gray-500 text-sm flex flex-wrap gap-2 justify-center">
        <span>Made by</span>
        <a
                href="https://theridwanade.vercel.app/"
                target="_blank"
                class="underline hover:text-gray-800"
        >
            Ridwan
        </a>
        <span>·</span>
        <a
                href="https://github.com/theridwanade"
                target="_blank"
                class="underline hover:text-gray-800"
        >
            GitHub
        </a>
        <span>·</span>
        <a
                href="https://x.com/theridwanade"
                target="_blank"
                class="underline hover:text-gray-800"
        >
            X
        </a>
    </div>
</section>
<hr class="bg-gray-100 h-[1px] mb-10px" />
</body>
</html>
