<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css" />
    <style>

    </style>
</head>
<body class="bg-black text-gray-200 min-h-screen flex flex-col font-sans p-3">
<div class="max-w-4xl mx-auto w-full">
<%- description %>
</div>
</body>
</html>
